body{
    display: flex;
    justify-content: center;
    background:linear-gradient(to left,#3ffb74,#7a46fc);


}
form{
    width: 50rem;
    height: 28rem;
    display: flex;
    flex-direction: column;
    background: reba(255,255,255,0.06);
    box-shadow: 0 28px 30px 40px 0  rgba(31,38,135,.37);
    border-radius: 40px;
    border-top: 26px solid rgba(255,255,255,.3);

}
h1{
    font-size: 50px;
    text-align: center;
    color: white;
    text-shadow: 2px;
    letter-spacing: 3px;
    margin-bottom: 20px;
    opacity: .7;
}
label{
    font-size: 35px;
}